<div id="container">
  <a href="http://hackthemidlands.com" target="_blank" class="mlh" alt="Hack The Midlands" title="Hack The Midlands"></a>

  <h1>Welcome</h1>
  <p>To use, visit <strong>http://no-light.hackthemidlands.com/[enter hackathon name]</strong></p>
</div>
